body {
    background-color: dimgray;
}

h1 {
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h2 {
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: xxx-large;
}

label {
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

p {
    color: white;
}

img {
    align-content: center;
}

